body {
  background: #f9f7fe;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

h1 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

footer {
  padding-top: 40px;
  border-top: 1px solid #f9f7fe;
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.weather-app-wraper {
  color: #878787;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 750px;
}

.weather-app {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 10%);
  padding: 40px;
}
.weather-app li strong {
  color: #f65282;
  font-weight: 400;
}

.temperature-container {
  margin-top: 70px;
  color: #212121;
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
}

.unit {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: -40px;
}

.weather-info {
  text-transform: capitalize;
}

.search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
}
.btn {
  background: #885df1;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.temperature-container .active {
  color: #212121;
  cursor: default;
}
.temperature-container .active:hover {
  text-decoration: none;
}
